<div class="sidebar">
  <div class="sidebar-header">
    <h3>HOD PORTAL</h3>
  </div>
  <ul class="nav-links">
    <li>
      <a href="dashboard.html"><i class="fas fa-home icon"></i> Dashboard</a>
    </li>
    <li>
      <a href="profile.html"><i class="fas fa-user-tie icon"></i> My Profile</a>
    </li>
    <li>
      <a href="students.html"
        ><i class="fas fa-user-graduate icon"></i> Students</a
      >
    </li>
    <li>
      <a href="faculty.html"
        ><i class="fas fa-chalkboard-teacher icon"></i> Faculty</a
      >
    </li>
    <li>
      <a href="timetable.html"
        ><i class="fas fa-calendar-alt icon"></i> Timetables</a
      >
    </li>
    <li class="logout-item">
      <a href="../../index.html" onclick="confirmLogout()">
        <i class="fa-solid fa-right-from-bracket icon"></i> Logout
      </a>
    </li>
  </ul>
</div>
