<div class="sidebar">
  <div class="sidebar-header">
    <h3>College ERP</h3>
  </div>
  <ul class="nav-links">
    <li>
      <a class="active" href="../html/dashboard.html">
        <i class="fa-solid fa-house icon"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="../html/profile.html">
        <i class="fa-solid fa-user icon"></i> My Profile
      </a>
    </li>
    <li>
      <a href="../html/academic.html">
        <i class="fa-solid fa-book-open icon"></i> Academic Records
      </a>
    </li>
    <li>
      <a href="../html/attendance.html">
        <i class="fa-solid fa-calendar-check icon"></i> Attendance
      </a>
    </li>
    <li>
      <a href="../html/fees.html">
        <i class="fa-solid fa-credit-card icon"></i> Fees &amp; Payments
      </a>
    </li>
    <li>
      <a href="../html/hostel.html">
        <i class="fa-solid fa-building icon"></i> Hostel
      </a>
    </li>
    <li>
      <a href="../html/library.html">
        <i class="fa-solid fa-book icon"></i> Library
      </a>
    </li>
    <li>
      <a href="../html/notifications.html">
        <i class="fa-solid fa-bell icon"></i> Notifications
      </a>
    </li>
    <li class="logout-item">
      <a href="../../index.html" onclick="confirmLogout()">
        <i class="fa-solid fa-right-from-bracket icon"></i> Logout
      </a>
    </li>
  </ul>
</div>
