<div class="sidebar">
  <div class="sidebar-header">
    <h3>ADMIN PANEL</h3>
  </div>
  <ul class="nav-links">
    <li>
      <a class="active" href="dashboard.html"
        ><i class="fas fa-home icon"></i> Dashboard</a
      >
    </li>
    <li>
      <a href="admissions.html"
        ><i class="fas fa-user-plus icon"></i> Admissions
      </a>
    </li>
    <li>
      <a href="students.html"
        ><i class="fas fa-users icon"></i> Student Records</a
      >
    </li>
    <li>
      <a href="fees.html"
        ><i class="fas fa-rupee-sign icon"></i> Fees &amp; Payments</a
      >
    </li>
    <li>
      <a href="hostel.html"><i class="fas fa-bed icon"></i> Hostel Mgmt</a>
    </li>
    <li>
      <a href="library.html"><i class="fas fa-book icon"></i> Library</a>
    </li>
    <li>
      <a href="users.html"><i class="fas fa-user-tie icon"></i> User Mgmt</a>
    </li>
    <li>
      <a href="results.html"><i class="fas fa-list-alt icon"></i> Results</a>
    </li>
    <li>
      <a href="notifications.html"
        ><i class="fas fa-bell icon"></i> Notifications</a
      >
    </li>
    <li class="logout-item">
      <a href="../../index.html" onclick="confirmLogout()">
        <i class="fa-solid fa-right-from-bracket icon"></i> Logout
      </a>
    </li>
  </ul>
</div>
