<div class="sidebar">
  <div class="sidebar-header">
    <h3>FACULTY PORTAL</h3>
  </div>
  <ul class="nav-links">
    <li>
      <a href="dashboard.html"> <i class="fas fa-home icon"></i> Dashboard </a>
    </li>
    <li>
      <a href="profile.html">
        <i class="fas fa-user-circle icon"></i> My Profile
      </a>
    </li>
    <li>
      <a href="attendance.html">
        <i class="fas fa-calendar-check icon"></i> Attendance
      </a>
    </li>
    <li>
      <a href="marks.html"> <i class="fas fa-marker icon"></i> Marks Entry </a>
    </li>
    <li>
      <a href="students.html">
        <i class="fas fa-user-graduate icon"></i> Student Lookup
      </a>
    </li>
    <li class="logout-item">
      <a href="../../index.html" onclick="confirmLogout()">
        <i class="fa-solid fa-right-from-bracket icon"></i> Logout
      </a>
    </li>
  </ul>
</div>
